.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 99;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

/* Datepicker calendar */

.react-datetime-picker input:focus {
  outline: none;
}

.react-datetime-picker__wrapper {
  border: 0px solid gray !important;
}

/* FABS */
.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-danger {
  bottom: 25px;
  padding: 10px;
  position: fixed;
  left: 25px;
}

/* sweet alert */
.swal2-popup{
  width: 37vw;
  /* height: 22vh; */
  position: absolute;
  text-align: center;
  top: 50%;
  left: 31.5%;
  z-index: 200;
  /* background-color: hsl(0, 50%, 70%); */
  padding: .5rem;
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
}
.swal2-confirm{
margin: 0 auto;
}